@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Mulish&family=Nunito&family=Nunito+Sans:wght@400;600&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&family=Questrial&family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFont;
  src: url("../public/Questrial-Regular.ttf") format("truetype");
}

body {
  @apply font-questrial bg-main-bg text-slate-700 dark:bg-main-dark dark:text-slate-300;
  font-family: myFont;
}

@layer base {
  a,
  p,
  svg {
    @apply text-muted;
  }
}

@layer components {
  .btn {
    @apply uppercase px-4 py-[0.35rem] rounded-lg cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-[#f7751e] shadow-primary/60 shadow-md;
  }

  .btn-secondary {
    @apply bg-secondary text-white hover:bg-[#02293e];
  }

  .sub-heading {
    @apply bg-primary/20 text-primary w-fit uppercase py-[3px] px-3 rounded-full mb-3 text-sm;
  }

  .heading {
    @apply text-3xl text-secondary capitalize dark:text-slate-300 font-bold;
  }

  .card {
    @apply p-4 bg-white border rounded-lg dark:bg-card-dark dark:border-dark;
  }

  .icon-box {
    @apply w-9 h-9 grid rounded-full place-items-center transition-a dark:hover:bg-hover-color-dark sm:cursor-pointer;
  }

  .card-bordered {
    @apply border dark:border-dark;
  }
}

@layer utilities {
  .border {
    @apply border-[#d2d2d2]/40;
  }
}

footer li {
  @apply my-3 text-muted;
}

footer a {
  @apply text-sm transition-a;
}

footer a:hover {
  @apply ml-2 text-primary;
}
